Flask==3.0.2
firebase-admin==6.5.0
google-cloud-firestore==2.16.0

numpy==1.26.4
opencv-python==4.9.0.80
mediapipe==0.10.14

tensorflow==2.14.0
Werkzeug==3.0.1

APScheduler==3.11.2
python-dotenv==1.0.1